.container {
  max-width: 1300px;
  text-align: left;
}

.common-page__wrapper {
  background-color: white;
  
  font-size: 14px;
}

.common-page {
  display: flex;
  
  &__main {
    flex: 1 0 0;
    
    //margin-right: 15px;
    padding: 0 25px 25px;
  }
  
  &__sidebar {
    flex: 0 0 350px;
    
    background-color: lightgray;
  }
}